html{
    scroll-behavior: smooth;
}

.shadow-manual{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.shadow-manual2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

    /* Hide scrollbar */
    .breadcrumbss ul::-webkit-scrollbar {
        display: none;
    }

    .breadcrumbss ul {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* Animation */
    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .animate-scroll {
        animation: scroll 30s linear infinite;
    }

        @keyframes pulsate {
            0%,
            100% {
                transform: scale(1);
            }
    
            50% {
                transform: scale(1.1);
            }
        }
    
        .btn.pulsating {
            animation: pulsate 1s infinite ;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }